*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f3f6fb;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:linear-gradient(180deg,#1e293b,#0f172a);
    color:white;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.logo{
    margin: -10px 0 -20px 0;
    text-align:center;
}

.logo img{
    width:65px;
    margin-bottom:10px;
}

.logo h2{
    margin:-20px 0 0 0;
    color:#60a5fa;
}

.logo span{
    font-size:12px;
    color:#94a3b8;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-top:20px;
}

.menu a{
    text-decoration:none;
    color:#cbd5e1;
    padding:12px;
    border-radius:10px;
    display:flex;
    gap:10px;
    align-items:center;
    transition:0.3s;
}

.menu a:hover{
    background:#334155;
    color:white;
}

.menu a.active{
    background:#2563eb;
    color:white;
}

.logout{
    background:#ef4444;
    border:none;
    color:white;
    padding:12px;
    border-radius:10px;
    cursor:pointer;
}

.main{
    margin-left:260px;
    padding:20px;
}

.topbar{
    background:white;
    padding:40px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.welcome{
    margin:40px 0 20px;
}

.welcome h1{
    margin:0 0 2px 2px;
    font-size:22px;
}

.welcome p{
    margin:0 0px 0px 2px;
    font-size:15px;
    color:#64748b;
}

.user-box{
    display:flex;
    align-items:center;
    gap:10px;
}

.user-box img{
    width:40px;
    height:40px;
    border-radius:50%;
}

.cards{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

.card{
    background:white;
    padding:18px;
    border-radius:15px;
    text-align:center;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.card i{
    font-size:26px;
    color:#2563eb;
    margin-bottom:8px;
}

.card h3{
    font-size:16px;
}

.card p{
    font-size:12px;
    color:#64748b;
}

.card:hover{
    transform:translateY(-5px);
}

@media (max-width: 900px){

    .sidebar{
        width:200px;
    }

    .main{
        margin-left:200px;
    }

    .cards{
        grid-template-columns:1fr;
    }
}

@media (max-width: 600px){

    .sidebar{
        position:fixed;
        width:100%;
        height:auto;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        padding:10px 15px;
        z-index:1000;
    }

    .logo{
        display:flex;
        align-items:center;
        gap:10px;
    }

    .logo span{
        display:none;
    }

    .menu{
        display:none; /* simplificado en móvil */
    }

    .logout{
        padding:8px 10px;
        font-size:12px;
    }

    .main{
        margin-left:0;
        margin-top:80px;
        padding:15px;
    }

    .topbar{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .card{
        padding:15px;
    }
}

.menu-toggle{
    margin: -70px 0 0 330px;
    font-size:24px;
    cursor:pointer;
}

/* PANEL CONFIG */
.config-panel{
    position:fixed;
    right:-320px;
    top:0;
    width:300px;
    height:100%;
    background:#0f172a;
    color:white;
    padding:20px;
    transition:0.3s;
    z-index:1000;
}

.config-panel.active{
    right:0;
}

.config-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.config-user{
    display:flex;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.config-user img{
    width:45px;
    border-radius:50%;
}

.config-options{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.OptionVersion {
    margin: 20px 0 0 70px;
    margin-top: 190%;
    font-size:15px;
    opacity: 0.2;
}
.option{
    padding:10px;
    background:#1e293b;
    border-radius:10px;
    cursor:pointer;
}

.option:hover{
    background:#334155;
}

.version{
    font-size:12px;
    opacity:0.7;
}

.logout{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:red;
    border:none;
    color:white;
    border-radius:10px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:65px;
    background:#0f172a;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.08);
    z-index:2000;
}

.bottom-nav a{
    text-decoration:none;
    color:#94a3b8;
    font-size:11px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4px;
    transition:0.3s;
}

.bottom-nav a i{
    font-size:18px;
}

.bottom-nav a.active{
    color:#60a5fa;
}

.bottom-nav a:hover{
    color:white;
}

.main{
    padding-bottom:90px;
}

html{
    scroll-behavior:smooth;
}

@media (max-width: 600px){

    .bottom-nav{
        display:flex;
    }

    .main{
        margin-top:0;
    }

}